<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}Agnone Bello{% endblock %}</title>

    <style media="screen">
        /*! CSS Used from: http://agnone-bello/css/bootstrap.min.css */a{text-decoration:none}.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.row{margin-right:-15px;margin-left:-15px}.col-md-6,.col-xs-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.col-xs-12{float:left}.col-xs-12{width:100%}@media(min-width:992px){.col-md-6{float:left}.col-md-6{width:50%}.col-md-pull-6{right:50%}.col-md-push-6{left:50%}}.collapse{display:none}.dropdown{position:relative}.dropdown-toggle:focus{outline:0}.dropdown-menu{display:none}.nav{list-style:none}.container-fluid:after,.container-fluid:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.row:after,.row:before{display:table;content:" "}.container-fluid:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.row:after{clear:both}/*! CSS Used from: http://agnone-bello/css/screen.css ; media=screen */@media screen{.header-container{height:calc(100vh - 50px);margin-top:50px}.header-wrapper{display:table;width:100%;height:100%;border:0 solid red}.header{display:table-cell;text-align:center;vertical-align:middle}}
        #drink, #eat {
            transition: opacity 3s ease;
            opacity: 0;
        }

    </style>

    <noscript id="deferred-styles">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/fullpage.min.css">
        <link rel="stylesheet" href="/css/fontello-embedded.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/fonts.css">
        {% block stylesheets %}{% endblock %}
    </noscript>

    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous"> -->

</head>
<body>
    {% block body %}{% endblock %}

    <script defer src="/js/all.min.js"></script>
    <script defer src="/js/script.js"></script>

    {% block js %}{% endblock %}

    <script>
      var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
      };
      var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
          window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
      if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
      else window.addEventListener('load', loadDeferredStyles);
    </script>

    {% block javascripts %}{% endblock %}
</body>
</html>
