{% extends 'base.html.twig' %}

{% block js %}
    <script defer src="/js/drink.js"></script>
{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fullpage.min.css">
    <link rel="stylesheet" href="/css/fontello-embedded.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/screen.css">
    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/screen.css">
{% endblock %}

{% block body %}

<div id="fullpage">

    <!-- == PAGE 1 ======================================================== -->
	<div class="section active" id="section0">

        {{ include('default/navbar.html.twig') }}

        <div class="loader"><div class="spinner">loading</div></div>
        <div class="container-fluid header-container" id="drink" data-src="/img/mineral-water-lime-ice-mint.jpg">

            <div class="header-wrapper">
                <div class="header page-header">
                    <div class="header-content">
                        <h1>Have a drink ?</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- == PAGE 2 ======================================================== -->
	<div class="section second" id="section1">

        <div class="container-fluid content-container">
            <div class="row full-screen">
                <div class="col-xs-12 col-md-6">
                    <div class="content-wrapper">
                        <div class="content shadowed">
                            <h1>Caffè Letterario</h1>
                            <p>Piazza Plebiscito 8</p>
                            <p>0865 79203</p>
                            <p>06:00 - 00:00</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="content-wrapper">
                        <div class="content">
                            content
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- == PAGE 3 ======================================================== -->
	<div class="section" id="section2">

        <div class="container-fluid content-container">
            <div class="row full-screen">
                <div class="col-xs-12 col-md-6 col-md-push-6">
                    <div class="content-wrapper" id="id3">
                        <div class="content">
                            <p>shop</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-md-pull-6">
                    <div class="content-wrapper">
                        <div class="content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- == PAGE 4 ======================================================== -->
	<div class="section" id="section3">

        <div class="container-fluid content-container">
            <div class="row full-screen">
                <div class="col-xs-12 col-md-6">
                    <div class="content-wrapper" id="id4">
                        <div class="content">
                            <p>visit</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="content-wrapper">
                        <div class="content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- == PAGE 5 ======================================================== -->
    <div class="container-fluid section fp-auto-height" id="section4">
        <footer>
            <p>
                created with <i class="icon-heart"></i> and <i class="icon-coffee"></i> by <a href="#">web.agn.one.</a>
            </p>
        </footer>
    </div>
</div>

{% endblock %}
