{% extends 'base.html.twig' %}

{% block js %}
    <script defer src="/js/home.js"></script>

    <script>
    var loadDeferredStyles = function() {
        var addStylesNode = document.getElementById("deferred-styles");
        var replacement = document.createElement("div");
        replacement.innerHTML = addStylesNode.textContent;
        document.body.appendChild(replacement)
        addStylesNode.parentElement.removeChild(addStylesNode);
    };
    var raf = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
      window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
    if (raf) raf(function() { window.setTimeout(loadDeferredStyles, 0); });
    else window.addEventListener('load', loadDeferredStyles);

    </script>

    <script>
        <!-- TODO: remove loader -->
    </script>
{% endblock %}

{% block stylesheets %}
    <noscript id="deferred-styles">
        {{ include('default/css.html.twig') }}
    </noscript>

    <!-- Local CSS -->
    <style media="screen">
a{text-decoration:none}.container-fluid{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}.row{margin-right:-15px;margin-left:-15px}.col-md-6,.col-xs-12{position:relative;min-height:1px;padding-right:15px;padding-left:15px}.col-xs-12{float:left}.col-xs-12{width:100%}@media(min-width:992px){.col-md-6{float:left}.col-md-6{width:50%}.col-md-pull-6{right:50%}.col-md-push-6{left:50%}}.collapse{display:none}.dropdown{position:relative}.dropdown-toggle:focus{outline:0}.dropdown-menu{display:none}.nav{list-style:none}.container-fluid:after,.container-fluid:before,.nav:after,.nav:before,.navbar-collapse:after,.navbar-collapse:before,.navbar-header:after,.navbar-header:before,.navbar:after,.navbar:before,.row:after,.row:before{display:table;content:" "}.container-fluid:after,.nav:after,.navbar-collapse:after,.navbar-header:after,.navbar:after,.row:after{clear:both}.header-content{opacity:0}.loader{position:absolute;top:0;left:0;height:100%;width:100%;z-index:9999}.spinner{color:#111;position:absolute;top:50%;left:50%;margin-left:-100px;margin-top:-100px;font-size:2em;font-weight:bold;width:200px;height:200px;line-height:200px;text-align:center;background-color:none;border-radius:100%;-webkit-animation:sk-scaleout 2.0s infinite ease-in-out;animation:sk-scaleout 2.0s infinite ease-in-out}@-webkit-keyframes sk-scaleout{0%{-webkit-transform:scale(0)}100%{-webkit-transform:scale(1.0);opacity:0}}@keyframes sk-scaleout{0%{-webkit-transform:scale(0);transform:scale(0)}100%{-webkit-transform:scale(1.0);transform:scale(1.0);opacity:0}}/*! CSS Used from: http://agnone-bello/css/screen.css ; media=screen */@media screen{.header-container{height:calc(100vh - 50px);margin-top:50px}.header-wrapper{display:table;width:100%;height:100%;border:0 solid red}.header{display:table-cell;text-align:center;vertical-align:middle}}
.home-header {
    opacity : 0;
}

    </style>
{% endblock %}

{% block body %}

<div id="fullpage">

    <!-- == PAGE 1 ======================================================== -->
	<div class="section active" id="section0">

        {{ include('default/navbar.html.twig') }}

        <div class="loader"><div class="spinner">loading</div></div>
        <div class="container-fluid header-container">
            <div class="header-wrapper">
                <div class="header home-header">
                    <p>il sito non ufficiale de</p>
                    <h1>Agnone Bello</h1>
                    <p>Città d'Arte e</p>
                    <p>centro del Alto Molise</p>
                </div>
            </div>
        </div>
    </div>


    <!-- == PAGE 2 ======================================================== -->
	<div class="section second" id="section1">

        <div class="container-fluid content-container">
            <div class="row full-screen">
                <div class="col-xs-12 col-md-6">
                    <div class="content-wrapper" id="id2">
                        <div class="content title-box">
                            <p class="is-animated">drink</p>
                            <p class="is-animated">eat</p>
                            <p class="is-animated">sleep</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="content-wrapper">
                        <div class="content">
                            <img class="illustration" src="/img/drink4.jpg" alt="drink image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- == PAGE 3 ======================================================== -->
	<div class="section" id="section2">

        <div class="container-fluid content-container">
            <div class="row full-screen">
                <div class="col-xs-12 col-md-6 col-md-push-6">
                    <div class="content-wrapper" id="id3">
                        <div class="content title-box">
                            <p>shop</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-md-pull-6">
                    <div class="content-wrapper">
                        <div class="content">
                            <img class="illustration" src="/img/shop2.jpg" alt="drink image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- == PAGE 4 ======================================================== -->
	<div class="section" id="section3">

        <div class="container-fluid content-container">
            <div class="row full-screen">
                <div class="col-xs-12 col-md-6">
                    <div class="content-wrapper" id="id4">
                        <div class="content title-box">
                            <p>visit</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="content-wrapper">
                        <div class="content">
                            <img class="illustration" src="/img/drink.jpg" alt="drink image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- == PAGE 5 ======================================================== -->
    <div class="container-fluid section fp-auto-height" id="section4">
        <footer>
            <p>
                created with <i class="icon-heart"></i> and <i class="icon-coffee"></i> by <a href="#">web.agn.one.</a>
            </p>
        </footer>
    </div>
</div>

{% endblock %}
