<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed hamburger hamburger--elastic" data-toggle="collapse" data-target="#menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Agnone Bello</a>
        </div>
        <!-- end navbar-header -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menu">
            <ul class="nav navbar-nav navbar-right">
                <!-- <li class="active">
                    <a href="#">Drink, Eat, Sleep
                        <span class="sr-only">(current)</span>
                    </a>
                </li> -->
                <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Drink, Eat, Sleep
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu"> -->
                        <li>
                            <a href="{{ path('drink') }}">Drink</a>
                        </li>
                        <li>
                            <a href="#">Eat</a>
                        </li>
                        <li>
                            <a href="#">Sleep</a>
                        </li>
                    <!-- </ul>
                </li> -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Shop
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Food</a>
                        </li>
                        <li>
                            <a href="#">Non-food</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Visit
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Agnone</a>
                        </li>
                        <li>
                            <a href="#">Alto Molise</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
