/*! CSS Used from: http://agnone-bello/css/bootstrap.min.css */

a {
    text-decoration: none;
}


.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-md-6, .col-xs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-12 {
    float: left;
}

.col-xs-12 {
    width: 100%;
}

@media (min-width:992px) {
    .col-md-6 {
        float: left;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-push-6 {
        left: 50%;
    }
}

.collapse {
    display: none;
}

.dropdown {
    position: relative;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    display: none;
}

.nav {
    list-style: none;
}

.container-fluid:after, .container-fluid:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .row:after, .row:before {
    display: table;
    content: " ";
}

.container-fluid:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .row:after {
    clear: both;
}

.header-content {
    opacity: 0;
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    /* background-color: black; */
}

.spinner {

    color: #111;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;

    font-size: 2em;
    font-weight: bold;

    width: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
    /* margin: auto; */
    background-color: none;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 2.0s infinite ease-in-out;
    animation: sk-scaleout 2.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}


/*! CSS Used from: http://agnone-bello/css/screen.css ; media=screen */

@media screen {

    .header-container {
        height: calc(100vh - 50px);
        margin-top: 50px;
    }
    .header-wrapper {
        display: table;
        width: 100%;
        height: 100%;
        border: 0px solid red;
    }
    .header {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}
