@import url("https://fonts.googleapis.com/css?family=Gruppo");
/* line 2, ../sass/_base.scss */
body {
  font-family: Raleway;
  background-color: #eee;
  background-attachment: fixed;
  background: radial-gradient(at 50% 50% at 50% 50%, #ffffff, #ff0000);
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
/* line 9, ../sass/_hamburger.scss */
.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

/* line 25, ../sass/_hamburger.scss */
.hamburger:hover {
  opacity: 0.7;
}

/* line 29, ../sass/_hamburger.scss */
.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

/* line 36, ../sass/_hamburger.scss */
.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 0px;
}

/* line 42, ../sass/_hamburger.scss */
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

/* line 56, ../sass/_hamburger.scss */
.hamburger-inner::after,
.hamburger-inner::before {
  content: "";
  display: block;
}

/* line 62, ../sass/_hamburger.scss */
.hamburger-inner::before {
  top: -10px;
}

/* line 66, ../sass/_hamburger.scss */
.hamburger-inner::after {
  bottom: -10px;
}

/* line 72, ../sass/_hamburger.scss */
.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* line 78, ../sass/_hamburger.scss */
.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

/* line 83, ../sass/_hamburger.scss */
.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* line 88, ../sass/_hamburger.scss */
.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

/* line 93, ../sass/_hamburger.scss */
.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

/* line 98, ../sass/_hamburger.scss */
.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

/* line 26, ../sass/navbar.scss */
a.dropdown-toggle {
  padding: 25px !important;
}

/* line 31, ../sass/navbar.scss */
.navbar-nav .dropdown-menu .dropdown-header, .navbar-nav .dropdown-menu > li > a {
  padding: 20px 15px 20px 25px;
}

/* line 35, ../sass/navbar.scss */
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
  padding: 20px 15px 20px 25px;
}

/* line 40, ../sass/navbar.scss */
.navbar-nav {
  font-family: Raleway;
  font-weight: 600;
  font-size: 18px;
}

/* line 46, ../sass/navbar.scss */
.navbar-brand {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 1.8em;
  font-family: UnifrakturCook;
}

@media (min-width: 768px) {
  /* line 58, ../sass/navbar.scss */
  .header-container {
    height: calc(100vh - 80px) !important;
  }

  /* line 64, ../sass/navbar.scss */
  .navbar-default .navbar-brand {
    font-size: 3em;
  }
  /* line 70, ../sass/navbar.scss */
  .navbar-default .navbar-nav > li > a {
    padding-top: 0 !important;
  }

  /* line 77, ../sass/navbar.scss */
  .navbar-brand {
    height: 80px;
    line-height: 80px;
    padding: 0 30px;
  }

  /* line 83, ../sass/navbar.scss */
  .navbar-nav > li > a {
    height: 80px;
    line-height: 80px;
    padding: 0 15px;
  }
}
/* line 15, ../sass/screen.scss */
.header-container {
  height: calc(100vh - 50px);
  margin-top: -20px;
}

/* line 20, ../sass/screen.scss */
.home-header-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  border: 0px solid red;
}

/* line 27, ../sass/screen.scss */
.home-header {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border: 0px solid blue;
}
/* line 34, ../sass/screen.scss */
.home-header h1 {
  text-shadow: 1px 2px #b87333;
  border: 0px solid black;
  color: #111;
  font-family: UnifrakturCook;
  font-size: 80px;
  line-height: 1.2em;
  letter-spacing: 1.2px;
  margin: 0 10px;
  border: 0px solid red;
}
/* line 46, ../sass/screen.scss */
.home-header p {
  color: #333;
  font-size: 24px;
  font-family: "Cardo";
  margin-bottom: 0px;
  border: 0px solid blue;
}

/* line 59, ../sass/screen.scss */
.content-container {
  height: 100vh;
  border: 0px solid blue;
}
/* line 63, ../sass/screen.scss */
.content-container .content {
  color: #fff;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border: 0px solid green;
}
/* line 71, ../sass/screen.scss */
.content-container .content p {
  font-size: 48px;
  font-family: Gruppo;
  margin: 0;
  line-height: 1em;
  transition: opacity 3s ease;
  transition-delay: 0.5s;
}

/* line 84, ../sass/screen.scss */
.full-screen {
  height: 50%;
}

/* line 88, ../sass/screen.scss */
.content-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  margin-left: -15px;
  width: calc(100% + 30px);
  transition: opacity 3s ease;
  transition-delay: 0.5s;
}

/* line 102, ../sass/screen.scss */
div[class*="col-"] {
  height: 100%;
}

/* line 106, ../sass/screen.scss */
img.illustration {
  width: 80%;
  box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 0.4);
}

/* line 113, ../sass/screen.scss */
#id2 {
  background-color: #00c200;
}

/* line 117, ../sass/screen.scss */
#id3 {
  background-color: #00c2c2;
}

/* line 121, ../sass/screen.scss */
#id4 {
  background-color: #c200c2;
}

/* line 126, ../sass/screen.scss */
footer {
  margin: 0 -15px;
  padding: 10px;
  background-color: #fff;
  border-top: 1px solid #bbb;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuMCIgeDI9IjAuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwY2MwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNjYwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, color-stop(0%, #00cc00), color-stop(100%, #006600));
  background-image: -moz-linear-gradient(top, #00cc00, #006600);
  background-image: -webkit-linear-gradient(top, #00cc00, #006600);
  background-image: linear-gradient(to bottom left, #00cc00, #006600);
}
/* line 140, ../sass/screen.scss */
footer p {
  color: white;
  text-align: center;
}
/* line 146, ../sass/screen.scss */
footer a {
  color: #eee;
}
/* line 150, ../sass/screen.scss */
footer a:hover {
  color: white;
}

/* line 155, ../sass/screen.scss */
i[class*='icon-'] {
  color: black;
  font-size: 1.2em;
}

@media (min-width: 768px) {
  /* line 164, ../sass/screen.scss */
  .hamburger {
    display: none !important;
  }

  /* line 169, ../sass/screen.scss */
  .home-header h1 {
    font-size: 120px;
    margin: 20px 0;
    padding-bottom: 30px;
  }
  /* line 174, ../sass/screen.scss */
  .home-header p {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  /* line 185, ../sass/screen.scss */
  .home-header h1 {
    font-size: 196px;
    text-shadow: 2px 4px #b87333;
  }
  /* line 190, ../sass/screen.scss */
  .home-header p {
    font-size: 60px;
  }

  /* line 196, ../sass/screen.scss */
  .content-wrapper {
    width: calc(100% + 30px);
  }

  /* line 202, ../sass/screen.scss */
  .content-container .content p {
    font-size: 196px;
  }

  /* line 208, ../sass/screen.scss */
  .full-screen {
    height: 100%;
  }

  /* line 212, ../sass/screen.scss */
  .content-wrapper {
    width: calc(100% + 30px);
  }

  /* line 216, ../sass/screen.scss */
  img.illustration {
    width: 80%;
    box-shadow: 1px 1px 100px 50px rgba(0, 0, 0, 0.4);
  }

  /* line 221, ../sass/screen.scss */
  footer {
    padding: 20px;
  }
  /* line 224, ../sass/screen.scss */
  footer p {
    font-size: 1.4em;
    text-align: center;
  }
}
