body {
  font-family: Raleway;
  background-color: white;
  background-attachment: fixed;
  background: radial-gradient(#ffffff, rgba(0, 0, 0, 0.05));
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: 0px;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  width: 30px;
  height: 3px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::after,
.hamburger-inner::before {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
  top: 2px;
  transition-duration: 0.275s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
  top: 10px;
  transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
  top: 20px;
  transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(135deg);
  transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
  transition-delay: 0s;
  opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-270deg);
  transition-delay: 0.075s;
}

.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus {
  background-color: transparent !important;
}

a.dropdown-toggle {
  padding: 25px !important;
}

.navbar-nav .dropdown-menu .dropdown-header, .navbar-nav .dropdown-menu > li > a {
  padding: 20px 15px 20px 25px;
}

.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu > li > a {
  padding: 30px 15px 30px 25px;
  font-size: 1.6em;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
}

.navbar-nav {
  font-family: Raleway;
  font-weight: 500;
  font-size: 1.4em;
}

.navbar-brand {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 1.8em;
  font-family: UnifrakturCook;
  color: #222 !important;
}

.navbar-nav > li > a {
  line-height: 50px;
  padding: 15px !important;
  color: #333 !important;
}

.navbar-nav > li > a:hover {
  background-color: #eee !important;
}

.caret {
  margin-left: 4px;
  vertical-align: middle;
  border-top: 8px dashed;
  border-top: 8px solid\9;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

.dropdown.open .caret {
  border-right: 8px dashed;
  border-right: 8px solid\9;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 3em;
    height: 80px;
    line-height: 80px;
    padding: 0 30px;
  }

  .navbar-right {
    margin-right: 0;
  }

  .navbar-nav > li > a {
    height: 80px;
    line-height: 80px;
    padding: 0 15px !important;
    font-size: 1.1em;
  }
}
@media (min-width: 992px) {
  .navbar-nav > li > a {
    padding: 0 30px !important;
  }
}
@media (min-width: 1200px) {
  .navbar-nav > li > a {
    padding: 0 50px !important;
  }
}
.loader {
  position: absolute;
  display: table;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;
  /* background-color: black; */
}

.spinner {
  display: table-cell;
  vertical-align: middle;
  color: #111;
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  background-color: none;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 2.0s infinite ease-in-out;
  animation: sk-scaleout 2.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
/* == FIRST PAGE =========================================================== */
.header-container {
  height: calc(100vh - 50px);
  margin-top: 50px;
}

.header-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  border: 0px solid red;
}

.header {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.home-header {
  border: 0px solid blue;
}
.home-header h1 {
  text-shadow: 1px 2px #b87333;
  border: 0px solid black;
  color: #111;
  font-family: UnifrakturCook;
  font-size: 80px;
  line-height: 1.2em;
  letter-spacing: 1.2px;
  margin: 0 10px;
  border: 0px solid red;
}
.home-header p {
  color: #333;
  font-size: 24px;
  font-family: "Cardo";
  margin-bottom: 0px;
  border: 0px solid blue;
}

.header-content {
  max-width: 450px;
  padding: 20px;
  margin: auto;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
}
.header-content h1 {
  font-family: gruppo;
  margin: 0;
  padding: 30px 0px;
}

.shadowed {
  box-shadow: 0 2px 0px 0px #ccc;
}

#drink, #eat, #sleep {
  background-position: center;
  background-size: cover;
  background-image: url("/img/empty.png");
}

#eat {
  background-position: center;
  background-size: cover;
  background-image: url("/img/empty.png");
}

/* == OTHER PAGES COMMON =================================================== */
.content-container {
  height: 100vh;
  border: 0px solid blue;
}

.content {
  color: #111;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border: 0px solid green;
}
.content.title-box p {
  color: #fff;
  font-size: 48px;
  font-family: Gruppo;
  margin: 0;
  line-height: 1em;
  transition: opacity 3s ease;
  transition-delay: 0.5s;
}
.content h1 {
  font-family: "Cardo";
}
.content p {
  font-family: lato;
  font-size: 1.6em;
  line-height: 1.2em;
  font-weight: 300;
}

/* -- set BS row height */
.full-screen {
  height: 50%;
}

.content-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  margin-left: -15px;
  width: calc(100% + 30px);
}

/* -- set BS cols height */
div[class*="col-"] {
  height: 100%;
}

img.illustration {
  max-width: 80%;
  box-shadow: 0 20px 15px -15px #333;
}

.row-3 {
  height: 33.3%;
}

/* == OTHER PAGES ========================================================== */
#id2 {
  transition: opacity 3s ease;
  transition-delay: 0.5s;
  opacity: 0;
  background-color: #00c200;
}

#id3 {
  transition: opacity 3s ease;
  transition-delay: 0.5s;
  opacity: 0;
  background-color: #00c2c2;
}

#id4 {
  transition: opacity 3s ease;
  transition-delay: 0.5s;
  opacity: 0;
  background-color: #c200c2;
}

#drink h1, #eat h1 {
  transition: opacity 3s ease;
}

/* == FOOTER =============================================================== */
footer {
  margin: 0 -15px;
  padding: 10px;
  background-color: #00c200;
  border-top: 1px solid #bbb;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuMCIgeDI9IjAuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwOTkwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNjYwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 100% 0%, 0% 100%, color-stop(0%, #009900), color-stop(100%, #006600));
  background-image: -moz-linear-gradient(top, #009900, #006600);
  background-image: -webkit-linear-gradient(top, #009900, #006600);
  background-image: linear-gradient(to bottom left, #009900, #006600);
}
footer p {
  color: white;
  text-align: center;
}
footer a {
  color: #eee;
}
footer a:hover {
  color: white;
}

i[class*='icon-'] {
  color: black;
  font-size: 1.2em;
}

/* -- MEDIUM SCREEN -- */
@media (min-width: 768px) {
  .spinner {
    font-size: 8em;
  }

  .header-container {
    height: calc(100vh - 80px);
    margin-top: 80px;
  }

  .hamburger {
    display: none !important;
  }

  .home-header h1 {
    font-size: 120px;
    margin: 20px 0;
    padding-bottom: 30px;
  }
  .home-header p {
    font-size: 36px;
  }

  img.illustration {
    box-shadow: 0 40px 30px -30 px #333;
  }

  .row-3 {
    height: 100%;
  }

  .header-content {
    max-width: 600px;
    padding: 30px;
  }
  .header-content h1 {
    font-size: 5em;
    padding: 80px 30px;
  }
}
@media (min-width: 992px) {
  .full-screen {
    height: 100%;
  }
}
/* -- LARGE SCREEN -- */
@media (min-width: 1200px) {
  .home-header h1 {
    font-size: 196px;
    text-shadow: 2px 4px #b87333;
  }
  .home-header p {
    font-size: 60px;
  }

  .content-wrapper {
    width: calc(100% + 30px);
  }

  .content-container .content.title-box p {
    font-size: 196px;
  }

  .content-wrapper {
    width: calc(100% + 30px);
  }

  img.illustration {
    box-shadow: 0 80px 60px -60px #333;
  }

  footer {
    padding: 20px;
  }
  footer p {
    font-size: 1.4em;
    text-align: center;
  }

  .header-content {
    max-width: 800px;
    padding: 30px;
  }
  .header-content h1 {
    font-size: 7em;
    padding: 120px 30px;
  }
}
