@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/css3/transform";

$debug-border-width: 0px;

body {
    font-family: Raleway;
    background-color: #eee;
    background-attachment: fixed;

    @include background-image(
        radial-gradient(
            at 50% 50%,
            white,
            #eee
        )
    );
}

// == NAVIGATION ==============================================================
// -- remove BS hamburger menu backround
.navbar-toggle:hover, .navbar-toggle:active, .navbar-toggle:focus  {
    background-color: transparent!important;
}


// == FIRST PAGE ==============================================================
.header-container {
    height: calc(100vh - 50px);
    margin-top: -20px;
}

.home-header-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    border: $debug-border-width solid red;
}

.home-header {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    border: $debug-border-width solid blue;

    h1 {
        text-shadow: 1px 2px #b87333;
        border: $debug-border-width solid black;
        color: #111;
        font-family: UnifrakturCook;
        font-size: 80px;
        line-height: 1.2em;
        letter-spacing: 1.2px;
    }

    p {
        font-size: 24px;
        font-family: Gruppo;
        margin-bottom: 0px;
    }
}


// == OTHER PAGES COMMON ======================================================
.content-container {
    height: 100vh;
    border: $debug-border-width solid blue;

    .content {
        color: #fff;
        display: table-cell;
        text-align: center;
        vertical-align: middle;

        border: $debug-border-width solid green;

        p {
            font-size: 48px;
            font-family: Gruppo;
            margin: 0;
            line-height: 1em;
        }
    }
}

// -- set BS row height
.full-screen {
    height: 50%;
}

.content-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    margin-left: -15px;
    width: calc(100% + 30px);
}


// -- set BS cols height
div[class*="col-"] {
    height: 100%;
}

img.illustration {
    width: 80%;
    box-shadow: 1px 1px 20px 10px rgba(0,0,0, 0.4);
}


// == OTHER PAGES =============================================================
#id2 {
    background-color: darken(lime, 10%);

    // transform: perspective(100px) rotateX(0.2deg) translateY(4%) translateZ(10px);
    // transform: perspective(100px) rotateZ(2deg);

    @include background-image(
        radial-gradient(
            at 50% 50%,
            darken(lime, 10%),
            darken(lime, 15%)
        )
    );

    .content {
        // transform: perspective(100px) rotateZ(-2deg);
        // transform: perspective(100px) rotateX(-0.2eg) translateY(0%);
    }
}

#id3 {
    background-color: darken(#0ff, 10%);

    // transform: perspective(100px) rotateX(-0.5deg) rotateY(-0.15deg) rotateZ(-1deg) translateY(-4%) translateZ(5px);

    @include background-image(
        radial-gradient(
            at 50% 50%,
            darken(#0ff, 10%),
            darken(#0ff, 15%)
        )
    );

    .content {
        // transform: perspective(100px) rotateZ(1deg);
    }
}

#id4 {
    background-color: darken(#f0f, 10%);

    // transform: perspective(100px) rotateX(0.3deg) rotateY(0.75deg) rotateZ(1deg) translateY(-4%) translateZ(5px);

    @include background-image(
        radial-gradient(
            at 50% 50%,
            darken(#f0f, 10%),
            darken(#f0f, 15%)
        )
    );

    .content {
        // transform: perspective(100px) rotateZ(-1deg);
    }
}

footer {
    margin: 0 -15px;
    padding: 10px;
    border: 1px solid red;
}

// == FOOTER ==================================================================

// -- MEDIUM SCREEN --
@media (min-width: 768px) {

    .hamburger {
        display: none!important;
    }

    .home-header {
        h1 {
            font-size: 120px;
        }
    }
}


// -- LARGE SCREEN --
@media (min-width: 1200px) {

    .home-header {
        h1 {
            font-size: 196px;
            margin-bottom: 20px;
            text-shadow: 2px 4px #b87333;
        }

        p {
            font-size: 60px;
            // margin-bottom: 150px;
        }
    }

    .content-wrapper {
        width: calc(100% + 30px);
    }

    .content-container {
        .content {
            p {
                font-size: 196px;
            }
        }
    }

    .full-screen {
        height: 100%;
    }

    .content-wrapper {
        width: calc(100% + 30px);
    }

    img.illustration {
        width: 80%;
        box-shadow: 1px 1px 100px 50px rgba(0,0,0, 0.4);
    }

    // #id2 {
    //
    //     .content {
    //         transform: perspective(100px) rotateZ(-2deg);
    //         transform: perspective(100px) rotateX(-0.2eg) translateY(0%);
    //     }
    // }

    // #id3 {
    //
    //     .content {
    //         transform: perspective(100px) rotateZ(1deg);
    //     }
    // }
}


/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 // -- global
.hamburger {
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger-box {
    width: 30px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: 0px;
}

.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
    // border: 1px solid blue;
    width: 30px;
    height: 3px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::after,
.hamburger-inner::before {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -10px;
}

.hamburger-inner::after {
    bottom: -10px;
}


// -- icon
.hamburger--elastic .hamburger-inner {
    top: 2px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease;
}

.hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s;
}

.hamburger--elastic.is-active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0;
}

.hamburger--elastic.is-active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s;
}
