@import "compass/css3/images";

@import url('https://fonts.googleapis.com/css?family=Gruppo');

$debug-border-width: 0px;

$navbar-height: 50px;

$greeen-bg: darken(lime, 12%);
$blue-bg:   darken(#0ff, 12%);
$purple-bg: darken(#f0f, 12%);
$dark-grey: #333;
$black:     #111;


@import "base";
@import "hamburger";
@import "navbar";


// == FIRST PAGE ==============================================================
.header-container {
    height: calc(100vh - #{$navbar-height});
    margin-top: $navbar-height;
}

.home-header-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    border: $debug-border-width solid red;
}

.home-header {
    display: table-cell;
    text-align: center;
    vertical-align: middle;

    border: $debug-border-width solid blue;

    h1 {
        text-shadow: 1px 2px #b87333;
        border: $debug-border-width solid black;
        color: $black;
        font-family: UnifrakturCook;
        font-size: 80px;
        line-height: 1.2em;
        letter-spacing: 1.2px;
        margin: 0 10px;
        border: $debug-border-width solid red;
    }

    p {
        color: $dark-grey;

        font-size: 24px;
        font-family: "Cardo";

        margin-bottom: 0px;
        border: $debug-border-width solid blue;
    }
}


// == OTHER PAGES COMMON ======================================================
.content-container {
    height: 100vh;
    border: $debug-border-width solid blue;

    .content {
        color: #fff;
        display: table-cell;
        text-align: center;
        vertical-align: middle;

        border: $debug-border-width solid green;

        p {
            font-size: 48px;
            font-family: Gruppo;
            margin: 0;
            line-height: 1em;

            transition: opacity 3s ease;
            transition-delay: 0.5s;
        }
    }
}

// -- set BS row height
.full-screen {
    height: 50%;
}

.content-wrapper {
    display: table;
    width: 100%;
    height: 100%;
    margin-left: -15px;
    width: calc(100% + 30px);
}


// -- set BS cols height
div[class*="col-"] {
    height: 100%;
}

img.illustration {
    max-width: 80%;
    box-shadow: 0 20px 15px -15px $dark-grey;
}


// == OTHER PAGES =============================================================
#id2 {
    transition: opacity 3s ease;
    transition-delay: 0.5s;
    opacity: 1;
    background-color: $greeen-bg;
}

#id3 {
    transition: opacity 3s ease;
    transition-delay: 0.5s;
    opacity: 0;
    background-color: $blue-bg;
}

#id4 {
    transition: opacity 3s ease;
    transition-delay: 0.5s;
    opacity: 0;
    background-color: $purple-bg;
}

// == FOOTER ==================================================================
footer {
    margin: 0 -15px;
    padding: 10px;
    background-color: $greeen-bg;
    border-top: 1px solid #bbb;
    @include background-image(
        linear-gradient(
            to bottom left,
            darken(lime, 20%),
            darken(lime, 30%)
        )
    );

    p {
        color: white;
        text-align: center;
    }

    a {
        color: #eee;
    }

    a:hover {
        color: white;
    }
}

i[class*='icon-'] {
    color: black;
    font-size: 1.2em;
}


// -- MEDIUM SCREEN --
@media (min-width: 768px) {

    $navbar-height: 80px;

    .header-container {
        height: calc(100vh - #{$navbar-height});
        margin-top: $navbar-height;
    }

    .hamburger {
        display: none!important;
    }

    .home-header {
        h1 {
            font-size: 120px;
            margin: 20px 0;
            padding-bottom: 30px;
        }
        p {
            font-size: 36px;
        }
    }

    img.illustration {
        box-shadow: 0 40px 30px -30 px $dark-grey;
    }
}


@media (min-width: 992px) {

    .full-screen {
        height: 100%;
    }
}



// -- LARGE SCREEN --
@media (min-width: 1200px) {

    .home-header {
        h1 {
            font-size: 196px;
            text-shadow: 2px 4px #b87333;
        }

        p {
            font-size: 60px;
        }
    }

    .content-wrapper {
        width: calc(100% + 30px);
    }

    .content-container {
        .content {
            p {
                font-size: 196px;
            }
        }
    }

    .full-screen {
        height: 100%;
    }

    .content-wrapper {
        width: calc(100% + 30px);
    }

    img.illustration {
        box-shadow: 0 80px 60px -60px $dark-grey;
    }

    footer {
        padding: 20px;

        p {
            font-size: 1.4em;
            text-align: center;
        }
    }

}
